<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDirectory" value="${basedir}/Logs/Nlog/${shortdate}"/>
  <!--<extensions>
    <add assembly="NLog.Targets.GrowlNotify" />
  </extensions>-->

  <targets>

    <target name="info" xsi:type="File" maxArchiveFiles="30" fileName="${logDirectory} #info.log" layout="${longdate}|${level:uppercase=true}${newline}${message}"/>

    <target name="error" xsi:type="File" maxArchiveFiles="30" fileName="${logDirectory} ##error.log" layout="${longdate}|${level:uppercase=true}|${stacktrace}${newline}${message}"/>

    <target name="fatal" xsi:type="File" maxArchiveFiles="30" fileName="${logDirectory} ###fatal.log" layout="${longdate}|${level:uppercase=true}|${stacktrace}${newline}${message}"/>

    <!--<target name="growl"
            xsi:type="GrowlNotify"
            password=""
            host=""
            port="23053"
        />-->
  </targets>

  <rules>

    <logger name="*" level="Info" writeTo="info" />
    <logger name="*" level="Error" writeTo="error" />
    <logger name="*" level="Fatal"  writeTo="fatal" />
    <!--<logger name="*" level="Info" writeTo="info,growl" />
    <logger name="*" level="Error" writeTo="error,growl" />
    <logger name="*" level="Fatal"  writeTo="fatal,growl" />-->

  </rules>
</nlog>

<!--<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDirectory" value="${basedir}/Logs/Nlog/${shortdate}"/>
  <extensions>
    <add assembly="NLog.Targets.GrowlNotify" />
  </extensions>

  <targets>

    <target name="info" xsi:type="File" maxArchiveFiles="30" fileName="${logDirectory} #info.log" layout="${longdate}|${level:uppercase=true}${newline}${message}"/>

    <target name="error" xsi:type="File" maxArchiveFiles="30" fileName="${logDirectory} ##error.log" layout="${longdate}|${level:uppercase=true}|${stacktrace}${newline}${message}"/>

    <target name="fatal" xsi:type="File" maxArchiveFiles="30" fileName="${logDirectory} ###fatal.log" layout="${longdate}|${level:uppercase=true}|${stacktrace}${newline}${message}"/>

    <target name="growl"
            xsi:type="GrowlNotify"
            password=""
            host=""
            port="23053"
        />
  </targets>
  
  <rules>

    <logger name="*" level="Info" writeTo="info,growl" />
    <logger name="*" level="Error" writeTo="error,growl" />
    <logger name="*" level="Fatal"  writeTo="fatal,growl" />

  </rules>
</nlog>-->
